.contenedor{ 
	display: inline-block;
	padding: 50px;
}
.linea{
	border: 2px solid black;
	margin-top: 20px;
	width: 5%;
}
.caja{
	width: 250px;
	height:250px;
	position: relative;
	display: inline-block;
	margin:50px;

}
#foto{
	height:250px; 
	width:250px;
	position: static;

}
#foto:hover{
	opacity: 0.5;
}

p{
	font-family: arial;
	color: white;
	position: absolute;
	bottom:0;
	right: 0;
}



